.ListComponent{
  background: #E6E6E6;
}

.ListComponent .list-header{
  padding: 1.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  flex-direction: row;
}

.ListComponent.producthunt .list-header{
  background-color: #da552f;
}

.ListComponent.hackernews .list-header{
  background-color: #d6724a;
}

.ListComponent.designernews .list-header{
  background-color: #487dce;
}

.ListComponent.echojs .list-header{
  background-color: #af1d1d;
}

.ListComponent h5{
  font-size: 1.25rem;
  margin: 0;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.ListComponent h5 .header-drop-cap{
  padding: 0.3rem .5rem;
  background-color: #ffffff;
  color: #666666;
  height: 2rem;
  width: 2rem;
  margin-right: .5rem;
  border-radius: 2px;
}

.ListComponent ul{
  width: 100%;
  height: calc(100vh - 4.5rem);
  list-style: none;
  margin: 0;
  padding: .5rem .25rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
}


.ListComponent:first-child ul{
  padding-left: .25rem;  
}

.ListComponent:last-child ul{
  padding-right: .25rem;
}

.ListComponent ul > li{
  padding: .75rem .5rem;
  border-radius: 2px;
  background-color: #ffffff;
  display: block;
  width: 100%;
}

.ListComponent ul > li:not(:last-child){
  margin-bottom: .5rem;
}

.ListComponent ul > li > a{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.ListComponent .item-count{
  background: rgb(206, 206, 206);
  border-radius: 2px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #555;
}

.ListComponent .item-body{
  padding: 0 0.5rem;
  font-size: 0.85rem;
}