.HomeComponent{
  width: 100%;
  display: block;
  float: left;
}

.HomeComponent .ListBodyComponent{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.HomeComponent .is-desktop{
  overflow-x: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 4px;
  padding: 4px;
  background: #e6e6e6;
}

.HomeComponent .ListComponent{
  height: 100%;
}

.HomeComponent .is-desktop .ListComponent{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 50vh;
}

@media(max-width: 768px){
  .HomeComponent .ListComponent{
    width: 100%;
  }
}

.HomeComponent .is-mobile .ListComponent{
  width: 100%;
}

.HomeComponent .swipable-views{
  width: 100%;
}
