.HomeComponent{
  width: 100%;
  display: block;
  float: left;
}

.HomeComponent .ListBodyComponent{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
@media(max-width: 1000px){
  .HomeComponent .is-desktop{
    overflow-x: hidden;
    width: 100%;
    display: flex; 
  }
}

.HomeComponent .ListComponent{
  height: 100%;
}

.HomeComponent .is-desktop .ListComponent{
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 1000px){
  .HomeComponent .is-desktop .ListComponent{
    width: 50%;
  }
}


.HomeComponent .is-mobile .ListComponent{
  width: 100%;
}

.HomeComponent .swipable-views{
  width: 100%;
}